ENV="development"
PORT="3001"
AUTH_KEY="some secret value that you should put in your request header with the key 'Authorization'"
MONGO_URI="mongodb://admin:password@localhost:27016/demo-app?retryWrites=true&connectTimeoutMS=10000&authSource=demo-app&authMechanism=SCRAM-SHA-1"
JWT_SECRET=SHHHHHHH_A_SECRET_KEY
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
# Mailer
MAIL_GUN_API_KEY="GET THIS FROM MAILGUN API SETTINGS"
MAIL_GUN_PUBLIC_KEY="GET THIS FROM MAILGUN API SETTINGS"
MAIL_GUN_SIGNING_KEY="GET THIS FROM MAILGUN API SETTINGS"
SMTP_DOMAIN="GET THIS FROM MAILGUN API SETTINGS"
SMTP_USER="GET THIS FROM MAILGUN SMTP SETTINGS"
SMTP_HOST="GET THIS FROM MAILGUN SMTP SETTINGS"
SMTP_PORT="GET THIS FROM MAILGUN SMTP SETTINGS"
SMTP_PW="GET THIS FROM MAILGUN SMTP SETTINGS"
SMTP_FROM_NAME="Administrator"
SMTP_FROM_EMAIL="NoReply@Somewhere.com"

