<div>
    <h2>Ahoy, <%= locals.userName %>!</h2>
    <p>You've been invited to join a team - <%= locals.companyName %>.</p>
    <p>Let's get your account set up so you can join in on the fun!</p>
    <p>Click <a href="<%= locals.link %>">here</a> to create your account.</p>
</div>