<div>
    <h2>Hello <%= locals.userName %>!</h2>
    <p>You have been invited to be the account owner of <%= locals.companyName %>!</p>
    <p>Click <a href="<%= locals.link %>">here</a> to accept or reject the invite.</p>
</div>