<div>
    <h2>Ahoy, <%= locals.userName %>!</h2>
    <p>Let's get you set up so you can keep doing great things!</p>
    <p>Click <a href="<%= locals.link %>">here</a> to create your account.</p>
</div>